<p> Bienvenido {{info.first_name}} </p>

<!acciones>
    <div>Que desea hacer:


        <a href="/adminconsole/getusers">Ver usuarios </a>
        <br>
        <a href="/adminconsole/deleteuser">eliminar usaurio </a>
        <br>
        <a href="/adminconsole/rolchange">modificar rol </a>
    </div>
    <!resultados>