<p>{{cid}} </p>

<p>cart:{{cart._id}} </p>

<div>

    {{#each products}}
    <ul>
        <li>nombre:{{_id}} </li>
        <li>product:{{quantity}} </li>


    </ul>
    {{/each}}
    <button>vaciar carro</button>

</div>