<p>Usuarios registrado</p>

<a href="/adminconsole"> volver a la consola</a>
<div>

    {{#each users}}
    <ul>
        <li>nombre:{{Name}} </li>
        <li>email:{{Email}} </li>
        <li>rol:{{Rol}} </li>
    </ul>
    {{/each}}

</div>