<h1>Log In</h1>
<div>
    <form method="post" action="/api/sessions/login">
        <input type="text" placeholder="correo" name="email" />
        <br />
        <input type="password" placeholder="contrasena" name="password" />
        <br />
        <button type="submit">log in</button>
    </form>
</div>

<div>
    <p>Si no tiene usuario <a href="/signup">signup</a> </p>
</div>