<p>products</p>

<div>

    {{#each products}}
    <ul>
        <li>nombre:{{title}} </li>
        <li>precio:{{price}} </li>
        <li>stock:{{stock}} </li>
        <button>agregar al carro</button>
    </ul>
    {{/each}}

</div>