<h2> Ingrese nueva contraseña</h2>

<form method="post" action="/api/sessions/reset-password?token={{token}}">
    <input type="email" placeholder="correo" name="email" />
    <br />
    <input type="password" placeholder="nueva contraseña" name="newPassword" />
    <button type="submit"> restablecer contraseña</button>
</form>